#roster {
  height: 800px;
  width: 100vw;
  background-color: #eee;
  padding: 25px;

  h2 {
    color: #f6ba00;
    text-decoration: underline;
    margin-left: 900px;
    font-size: 32px;
    background-color: #030059;
    text-align: center;
    width: 300px;
  }
}
